

form label{
    width: 70px;
    display:inline-block;
}

form{
    line-height:2em;
    border: solid 2px #ccc;
    border-radius:20px;
    padding: 20px;
    background-color: #ccc;
}

form button{
    background-color: white;
    border:none;
    border-radius: 5px;
    padding: 3px;

}

form button:hover {

    background-color: black;
    color: white;
    cursor: pointer;

}

.fnt-contacto{

    font-size:16px;

}
