.grid{
    display:flex;
    flex-wrap:wrap;
  
}


@media (min-width: 768px){

    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: calc(25% - 1em);
       } 
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width:41.66%;
    }
    .col-6{
        width:50%;
    }
    .col-7{
        width:58.33%;
    }
    .col-8{
        width: calc(66.66% - 1em);
    }
    .col-9{
        width:75%;
    }
    .col-10{
        width:83.33%;
    }
    .col-11{
        width:91.66%;
    }
    .col-12{
        width:100%;
    }

}

@media (min-width: 500px) and (max-width: 768px){
    .col-tab-1{
        width: 8.33%;
    }
    .col-tab-2{
        width: 16.66%;
    }
    .col-tab-3{
        width: 25%;
       } 
    .col-tab-4{
        width: calc(33.33% - 1em);
    }
    .col-tab-5{
        width:41.66%;
    }
    .col-tab-6{
        width:50%;
    }
    .col-tab-7{
        width: calc(58.33% - 1em);
    }
    .col-tab-8{
        width:66.66%;
    }
    .col-tab-9{
        width:75%;
    }
    .col-tab-10{
        width:83.33%;
    }
    .col-tab-11{
        width:91.66%;
    }
    .col-tab-12{
        width:100%;
    }

}

@media (width-max:500px){
    .col-mob-1{
        width: 8.33%;
    }
    .col-mob-2{
        width: 16.66%;
    }
    .col-mob-3{
        width: calc(25% - 1em);
       } 
    .col-mob-4{
        width:33.33%;
    }
    .col-mob-5{
        width:41.66%;
    }
    .col-mob-6{
        width:50%;
    }
    .col-mob-7{
        width:58.33%;
    }
    .col-mob-8{
        width:66.66%;
    }
    .col-mob-9{
        width:75%;
    }
    .col-mob-10{
        width:83.33%;
    }
    .col-mob-11{
        width:91.66%;
    }
    .col-mob-12{
        width:100%;
    }


}