@import 'reset.css';
@import 'basic.css';/*Importación de la hoja de estilo basic.css en style.css*/
@import 'header.css';
@import 'menu-nav.css';
@import 'footer.css';
@import 'texto.css';
@import 'layout.css';
@import 'grid.css';
@import 'contacto.css';



.img-fit{
    width:100%;
    height:25vh;
    object-fit:cover;
}


section {
    background-color: white;
}
aside {
    background-color:#ccc;
}

#pie{
    background-color: black;
}

aside img{
    border-radius: 20px;
}