*{box-sizing:border-box}
.container{
    background-color:yellow;
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 0 1em;
    display:flex;
    flex-direction:column;



}

section{
    background-color: red;
}

aside{
    background-color: blue;
}

