.texto1 {
    font-family: verdana, sans-serif; /* ver google fons*/
    font-size: 16px; /*tamaños: px % em rem*/
    font-weight: bold; /*normal=400 bold=700*/
    font-style: italic;
    font: bold 24px Verdana;

    text-align: justify; /*alineación del texto respecto al contenedor*/
    line-height: 1.3; /*Distancia entre líneas*/
    vertical-align;
    text-decoration:underline red;/*subrayado de colores*/
    border-bottom:1px;

    color: #f14fda;
    color: rgba(88,126,226,0.6); /*color + transparencia*/

}
/*
*{font-family: verdana} con el selector universal * se aplica a todas las etiquetas *=div,span,p...
*/
.tamaño{

    
}